*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
	height: 100%;
}

.st-content {
	/*overflow-y: scroll;*/
	background: #f3efe0;
}

.st-content,
.st-content-inner {
	position: relative;
}

.st-container {
	position: relative;
/*	overflow: hidden;*/
}

.st-pusher {
	position: relative;
	right: 0;
	z-index: 99;
	height: 100%;
	/*-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;*/
	  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.st-pusher::after {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	/*background: rgba(0,0,0,0.7);*/
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-pusher{
	/*overflow: hidden;*/
	/*left: 0;
  	position: fixed;*/

}

.st-menu {
	z-index: 9999!important;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #373737;
	/*-webkit-transition: all 0.5s;
	transition: all 0.5s;*/
}

.st-menu::after {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	/*-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;*/
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	color: #FFF;
  	background-color: #373737;
  	text-align: center;
  	margin: 0;
  	padding: 0.7em 0.1em 0.1em;
  	font-weight: 300;
  	font-size: 1.4em;

}

.st-menu h2::after{
	margin: 10px auto;
}

.st-menu ul li a {
	display: block;
	padding: 2px 15px;
	outline: none;
	/*box-shadow: inset 0 -1px rgba(0,0,0,0.2);*/
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
	/*box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);*/
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	/*box-shadow: inset 0 -1px rgba(0,0,0,0);*/
	color: #fff;
}

/* Individual effects */


/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
	display: none;

}


/* Effect 4: Slide along */
/*.st-effect-4.st-menu-open .st-pusher {
	-webkit-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.st-effect-4.st-menu {
	z-index: 1;
	-webkit-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
}

.st-effect-4.st-menu-open .st-effect-4.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.st-effect-4.st-menu::after {
	display: none;
}*/

.shy-overlay{
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 999;
}

.st-menu-open .shy-overlay{
	display: block;
}


