.thumbnail-dashboard{
    padding:15px;
    /*line-height:1.8em;*/
}

.col-thumbnail{
    margin-left: -75px;
    width:81%
}

.left-header-menu{
        margin-left:395px;
    }
.card-header{
    padding-bottom: 15px;
    margin: 5px 0 10px;
    border-bottom: 1px solid #eee;
}

.card-detail{
    padding-bottom: 0px;
    margin: 5px 0 10px;
    border-bottom: 1px solid #eee;
}

.font-point{
    font-size: 20px;
    font-weight: bold;
}

.font-tiny{
    font-size: 10px;
    font-weight: bold;
}

.data-notifications {
	position: relative;
}

.data-notifications:after {
	content: 'Coming Soon';
	position: absolute;
	background: red;
	border-radius: 8%;
	display: inline-block;
	padding: 0.3em;
	color: #f2f2f2;
	right: -15px;
	top: 7px;
    font-size:9px;
}

.data-notifications-menu {
	position: relative;
}

.data-notifications-menu:after {
	content: 'Coming Soon';
	position: absolute;
	background: red;
	border-radius: 8%;
	display: inline-block;
	padding: 0.3em;
	color: #f2f2f2;
	right: -70px;
	top: 1px;
    font-size:9px;
}

.beta-notifications {
	position: relative;
}

.beta-notifications:after {
	content: 'Beta';
	position: absolute;
	background: #777;
	border-radius: 8%;
	display: inline-block;
	padding: 0.3em;
	color: #f2f2f2;
	right: 18px;
	top: 30px;
    font-size:9px;
}

.fb-social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #29487d;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.twitter-social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #1da1f2;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.gplus-social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #d73d32;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.hover-social:hover, .hover-social:focus {
    opacity: .65;
    color: #fff;
}

@media (max-width:768px) {
    .col-thumbnail{
        margin-left: 0px;
        width:100%
    }
    
    .left-header-menu{
        margin-left:10px;
    }
}